.facefield{
    background-color: lightblue;
    text-align: center;
}

.menufield{
    background-color: lightgreen;
    text-align: center;
}

.absolute{
    position:absolute;
}

.relative{
    position:relative;
}

#leftEye{
    right: 30%;
    top: 20%;
}

#nose{
    right:45%;
    top:30%;
}
#rightEye{
    left: 5%;
    top: 20%;
}

#lip{
    top: 55%;
    right: 45%;

}

#make_turukame_button{
    top: 50%;
    right: 20%;
}

#face_div{
    width:100%;
    height: 100%;
}

